/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Navbar part starts */
.navbar-brand {
    color: #4A4A4A;
    font-size: 40px;
    line-height: 60px;
}

.nav-link {
    color: #777777;
    font-size: 18px;
    line-height: 27px;
    margin: 0 10px;
}

.register-btn,
.more-courses-btn {
    font-size: 20px;
    line-height: 30px;
    color: #289BDE;
}

/* Navbar part ends */

/* Banner part starts */
.carousel-item {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 29, 29, 0.7);
}

.carousel-caption {
    padding-bottom: 8rem;
}

.carousel-caption h1 {
    padding: 0 5rem;
    font-size: 65px;
    line-height: 85px;
}

.carousel-caption p {
    padding: 0 5rem;
    font-size: 18px;
    line-height: 30px;
    color: #F4F4F4;
}

.carousel-caption a {
    background: #289BDE;
    border: 1px solid #289BDE;
}

/* Banner part ends */

/* Courses part starts */
.discover-courses .title-info {
    margin: 130px 230px 70px;
}

.discover-courses .title-info h1 {
    font-size: 45px;
    line-height: 60px;
    color: #1D1D1D;
}

.discover-courses .title-info p {
    font-size: 16px;
    line-height: 30px;
    color: #777777;
}

.course {
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

.course .course-info h3 {
    font-size: 20px;
    line-height: 38px;
    color: #4A4A4A;
}

.course-info .course-info-text {
    font-size: 16px;
    line-height: 24px;
    color: #777777;
}

.course-info .price {
    font-size: 18px;
    line-height: 27px;
    color: #289BDE;
}

.more-courses-btn {
    color: white;
    background-color: #289BDE;
    border: 1px solid #289BDE;
}

/* Courses part ends */